.json-schema-viewer
  padding-top: 0.5rem
  .MuiBreadcrumbs-li a.last-item
    font-weight: bold
  .property
    .property-const-value
      display: inline-block
      margin: 0
    .property-name, .property-type
      font-family: monospace
    .property-name
      color: #08F
      font-size: 1.2rem
      font-weight: bold
      margin-left: 0.5rem
    .MuiChip-root
      margin-left: 0.5rem
  div.description > p:first-child
      margin-top: 0
