.table-of-contents
    padding-left: 0.5rem
    opacity: 0.5
    &:hover, &.need-to-pick
        opacity: 1
    .main-schema, .schemas-for-category
        &:not(:first-child)
            margin-top: 1rem
        h1
            color: #AAA
            font-variant: small-caps
            line-height: 1
            margin: 0
        .MuiListItemButton-root
            padding-top: 3px
            padding-bottom: 3px
        .schema-text span
            line-height: 1
        .selected
            background-color: #FFA
            .schema-text span
                font-weight: bold
    .main-schema
        .MuiListItemButton-root
            margin-top: 1rem
            padding: 0
            .schema-text span
                font-weight: bold
                font-size: 1.2rem
                .about
                    color: #888
                    font-size: 0.7rem
                    font-style: italic
                    font-weight: normal
                    margin-top: 0.2rem
